.hero {
  width: 100vw;
  height: 70vh;
  background-image: url("../../assets/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  /* opacity: 0.4; */
  filter: blur(1px);
}

.hero-container {
  z-index: 1;
}

.hero-text {
  color: #fff;
  position: absolute;
  z-index: 9;
  top: 40%;
  left: 20%;
}

.hero-text .level1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
}

.hero-text .level2 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
.hero-text .level-max {
  color: #fff;
  font-size: 4rem;
  font-weight: 900;
  text-shadow: 1px 1px 0px #ff0;
}

@media only screen and (max-width: 780px) {
  .hero-text {
    color: #fff;
    position: absolute;
    z-index: 9;
    top: 43%;
    left: 10%;
  }

  .hero-text .level1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
  }

  .hero-text .level2 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
  }
  .hero-text .level-max {
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 1px 1px 0px #ff0;
  }
}
