.hero {
  width: 100vw;
  height: 70vh;
  background-image: url("../../assets/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  /* opacity: 0.4; */
  filter: blur(1px);
}

.hero-container {
  z-index: 1;
}

.hero-text {
  color: #fff;
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 30%;
}

.hero-text .level1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.hero-text .level2 {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}
.hero-text .level-max {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}
