@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #111;
  /* background-color: #292828; */
  font-family: "Titillium Web", sans-serif;
}
.app {
  width: 100vw;
  max-width: 1440px !important;
}
.golden-text {
  background-color: red;
  background-image: linear-gradient(red, gold);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 100%;
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
